/*#tabela{
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 1px  #00027e93;
}
th.head{
    background: rgb(163, 163, 163);
    border-left: 1px solid black;
    font-size: 15pt;
    
}
td.corpo {
  border-left: 1px solid black;
  padding: 3px 25px 3px 25px;
  background: rgba(236, 236, 236, 0.692);
  
}
#tabela tr{
    border: 1px dashed rgb(26, 26, 26);
    padding: 3px 5px 3px 5px;
    
  }
body{
    background: rgb(112, 112, 112);
}*/
